
$text-color: #c4dbe9;
.carouselItem {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    margin: 0 auto;
    img {
        width: initial!important;
    }
}

img.thumbnail {
    object-fit: cover;
    margin: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}
