
$text-color: #c4dbe9;
.carouselItem {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    margin: 0 auto;
    img {
        width: initial!important;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        left: 0;
    }
}

img.thumbnail {
    object-fit: cover;
    margin: 10px;
    width: 200px;
    height: 200px;


    max-height: 40vw;
    max-height: calc(var(--vw, 1vw) * 40);
    max-width: 40vw;
    max-width: calc(var(--vw, 1vw) * 40);

    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}
