@use '../../App.scss' as *;

.categories {
    flex-grow: 1;
    margin-top: 75px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        margin: 7px 0;
        color: $link-color;

        &:hover {
            color: $text-color;
            opacity: 0.7;
        }
    }

    a.active {
        opacity: 0.5;
    }
}

@media screen and (max-width: 850px) {
    .categories {
        margin-top: initial;
    }
}
