.categories {
    margin-top: 75px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;

    }

    a.active {
        opacity: 0.5;
    }
}

@media screen and (max-width:850px) {
    .categories {
      margin-top: initial;
    }
  }
